<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-ypimagepikcer"
        version="0.0.1">
    <name>CDVYPImagePicker</name>

    <js-module name="CDVYPImagePicker" src="www/CDVYPImagePicker.js">
        <clobbers target="CDVYPImagePicker" />
    </js-module>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="CDVYPImagePicker">
                <param name="ios-package" value="CDVYPImagePicker" />
            </feature>
        </config-file>
<!--         <edit-config file="*-Info.plist" mode="merge" target="NSPhotoLibraryUsageDescription">
            <string>用于选择照片设置头像等</string>
        </edit-config>
        <edit-config file="*-Info.plist" mode="merge" target="NSCameraUsageDescription">
            <string>用于拍摄照片设置头像等</string>
        </edit-config> -->
        <!-- Add in the plugin .swift files here -->
        <source-file src="src/ios/CDVYPImagePicker.swift" />

        <!-- Add in the swift-support plugin by default -->
        <dependency id="cordova-plugin-add-swift-support" />
        <pods-config ios-min-version="11.0" use-frameworks="true" />
        <pod name="Gallery" spec="~> 2.2.2" />
        <pod name="TOCropViewController" spec="~> 2.5.2"
        <pod name="XLActionController" spec="~> 5.0.0" />
        <pod name="XLActionController/Periscope" />
        <pod name="RappleProgressHUD" spec="~> 4.0.0" />
    </platform>
</plugin>
